body.blog {
    // Default background colour
    background: $darkerBgColor;
    
    // Header section
    header { @include addHeaderBg("../images/blog-image.jpg"); }

    // Pushes blog post up
    .blogPost {
        position: relative;
        top: -7rem;
    }
    
    // Blog post section
    section.blogPostContent {
        max-width: 30rem; // Sets limit, so the content doesn't stretch too much
        background: $lighterBgColor;

        // Creates breathing room for content
        padding-left: 10%;
        padding-right: 1rem;
        margin-right: calc(10% - 1rem);
        
        // Styling to create unique yellow border around content
        border-right: 0.2rem solid $accentColor;
        border-bottom: 0.2rem solid $accentColor;
        .featuredImage {
            position: relative;
            left: calc(-12.5% - 0.2rem);
            bottom: 0.6rem;
            width: calc(112.5% + 0.8rem);
        }
        .featuredImage img { position: relative; z-index: 2; }
        .featuredImage::before { @include addPseudoShadow("right", 0.6rem); }

        // Styling for text
        .postTitle { margin-bottom: 0; }
        .postMetadata { margin-top: 0.5rem; font-style: italic; }
        .postAuthor { font-weight: 700; }
        p { margin: 1rem 0; }
    }
    
    // Comments section
    section.comments {
        padding-top: 1rem;
        margin-bottom: -4rem; // Corrects for article being pushed up

        // Special wrapper
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

        .comment {
            display: flex;
            flex-direction: column;
        }
        .comment:not(:last-of-type) { margin-bottom: 2rem; }
        .comment:last-of-type { margin-bottom: 1rem; }
        .commentProfile {
            width: 4rem;
            margin-top: 0.2rem;
        }
        .commentMetadata {
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    // Aside section
    aside {
        position: relative;
        background: $accentColor;
        width: 60%;
        margin: 0 20% 3rem;
        border-bottom: 0.8rem solid $accentColor;
    }
    aside::before { @include addPseudoShadow("left", 0.8rem); }
    
    .asideImage, .missionStatement, .recentPosts {
        position: relative;
        z-index: 2;
    }

    // Font styling
    .missionStatement, .recentPosts { padding-right: 0.5rem; }
    h4 { margin: 0.7rem 0; }
    .recentPosts ul {
        list-style-type: disc;
        margin-left: 1.4rem;
    }
    .recentPosts p { margin: 0; }
}

@media (min-width: 768px) {
    body.blog {
        // Header breakpoint
        header { background-position: center center; }
    
        // Main breakpoint
        main {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        article { flex: 0 0 60%; }
        aside { flex: 0 0 25%; }
    
        // Blog post breakpoint
        section.blogPostContent {
            max-width: 100%;
            margin-right: 0;
        }

        // Comments breakpoint
        section.comments {
            padding-left: 10%;
            margin-right: 0;
            margin-left: 0;
            width: 100%;

            .comment {
                flex-direction: row;
                align-items: flex-start;
            }
            .commentProfile {
                flex: 0 0 3rem;
                margin-right: 1rem;
            }
            .commentContent { flex: 1 1 auto; }
            .commentMetadata { margin-top: 0; }
        }

        // Places name and email address inputs side by side
        input[type="text"], input[type="email"] { width: 46%; }
        input[type="text"] { float: left; }
        input[type="email"] { float: right; }

        // Aside breakpoint
        aside {
            width: auto;
            margin: 0;
        }
        .missionStatement, .recentPosts { padding-right: 1rem; }
    }

}