body.index {
    
    header {
        @include addHeaderBg("../images/header-home.jpg");
        
        h1 { display: none; }
        img {
            position: absolute;
            bottom: -15%;
            left: 0;
            max-width: 15rem;
        }
    }
    
    section { padding: 2.5rem 0; }
    section.featuredPost { padding-top: 6rem; }
    section.heroPost { padding-top: 0; }
    section.gallery, section.secondaryPosts { background: $darkerBgColor; }

    .featuredPostImage {
        padding-top: 2rem;
        position: relative;
        right: -12.5%;
        max-width: 20rem;
    }
}

@media screen and (min-width: 768px) {
    body.index {
        header {
            background-position: center center;

            h2 {
                padding-top: 50px;
                margin-left: 5rem;
            }
            img {
                width: 40%;
                max-width: 30rem;
            }
        }

    }
}