@mixin addHeaderBg($imageUrl) {
    background: $lighterBgColor url($imageUrl);
    background-size: cover;
    background-position: center bottom;
}

@mixin addPseudoShadow($direction: "left", $distance: 2vw) {
    content: "";
    display: block;
    width: 97%;
    height: 97%;
    position: absolute;
    top: $distance;
    background: $accentColor;
    
    @if $direction == "left" {
        left: -$distance;
    }
    @else if $direction == "right" {
        right: -$distance;
    }
    

}