// Import styling resources
@import "partials/variables";
@import "partials/mixins";
@import "partials/setup";

// ===== GENERAL STYLING =====

// For testing purposes
* {
    // border: 1px solid green;
}

// @@@@@ Site-wide styles
html {
    background: $lighterBgColor;
    
    // Sets base font size to 20px on most browsers
    font-size: 150%;
}



// @@@@@ Wrapper
.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}



// @@@@@ Makes images fit into their containers to prevent overflow
img {width: 100%;}



// @@@@@ Font styles
h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
    text-transform: uppercase;
}
h1 {
    margin: 0; // Removes pesky margins affecting top of page
    font-size: 0.55rem;
    line-height: 0.6rem;
    letter-spacing: 0.05rem;
    width: 4.5rem; // Breaks title into two lines
}
h2 {
    padding-top: 90px; // Gives breathing room for page title away from nav bar
    margin-top: 0;
    font-family: $pageTitleFont;
    font-size: 1.7rem;
    line-height: 1.6rem;
    max-width: 15rem; // Breaks title into two lines
}
h3 {
    font-size: 0.825rem;
    line-height: 1.45rem;
    letter-spacing: 0.1rem;
}
h4 {
    // Required for blog post page
}

p {
    font-family: $contentFont;
    font-size: 0.5rem;
    line-height: 0.8rem;
    letter-spacing: 0.1rem;
}



// @@@@@ Button styles
.button {
    display: inline-block;
    font-family: $headingFont;
    font-size: 0.5rem;
    line-height: 0.8rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $lighterBgColor;
    background: $buttonColor;
    padding: 0.35rem 0.5rem 0.3rem;
}
.button:hover, .button:focus {
    box-shadow: 0 0 0 0.12rem $accentColor;
    transition: box-shadow 0.2s ease;
}



// @@@@@ ul, li styles
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



// @@@@@ Header styles
header {
    min-height: 100vh;
    position: relative;
}

// Removes default anchor styling in header
header a {
    color: $fontColor;
    text-decoration: none;
}

.mainNavContainer {
    padding-top: 1rem; // Adds breathing room away from top of page
}

.mainNav {
    position: fixed;
    top: 0.9rem;
    right: 0.9rem;
    z-index: 99; // Keeps navigation at top!
}
.mainNav li {
    font-family: $contentFont;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.725rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.mainNav li a:hover, .mainNav li a:focus {
    color: $accentColor;
    transition: color 0.2s ease;
}

// Adds yellow underline for currently selected nav item
.currentPage { position: relative; }
.currentPage::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 0.05rem;
    width: 1rem;
    background: $accentColor;
}

// @@ Hamburger menu styles & animations (applies up to 768px viewport width)

// Visually hides navigation menu but keeps it accessible
.mainNav ul {
    visibility: hidden;
    opacity: 0;
}
// Visually hides checkbox and label text but keeps it accessible
#menuButton, .labelText {
    position: absolute;
    opacity: 0;
}

// Makes label element into a box
.mainNav label {
    display: block;
    height: 2rem;
    width: 2rem;
    background: $buttonColor;
    position: relative; // Required to unlock position: absolute for 3 bars
    float: right; // pushes box to the right
    z-index: 99;
    cursor: pointer;
}
// Creates 3 bars in hamburger menu and positions them
.menuIcon, .menuIcon::before, .menuIcon::after {
    content: "";
    display: block;
    height: 0.1rem;
    background: $lighterBgColor;
    position: absolute;
}
.menuIcon {
    width: 60%;
    top: 0.92rem;
    left: 0.4rem;
}
.menuIcon::before {
    width: 100%;
    bottom: 0.4rem;
}
.menuIcon::after {
    width: 100%;
    top: 0.4rem;
}

// Displays nav menu when menu icon inside label is clicked
.mainNav input[type="checkbox"]:checked ~ ul {
    visibility: visible;
    opacity: 1;
    padding: 1rem;
    background: $lighterBgColor;
    box-shadow: -0.3rem 0.3rem 0 0.05rem $accentColor;
    transition: all 0.5s ease;
}
// Hides middle hamburger bar
.mainNav input[type="checkbox"]:checked + label > .menuIcon {
    background: none;
}
// Rotates top and bottom hamburger bar to turn them into an X
.mainNav input[type="checkbox"]:checked + label > .menuIcon::before {
    transform: rotate(45deg);
    bottom: 0;
    transition: all 0.2s ease;
}
.mainNav input[type="checkbox"]:checked + label > .menuIcon::after {
    transform: rotate(-45deg);
    top: 0;
    transition: all 0.2s ease;
}



// @@@@@ Footer styles
footer {
    padding: 0.25rem 0;
    background: $fontColor;
    color: $lighterBgColor;
}
footer p {
    text-align: center;
    line-height: 0;
}


// @@@@@ Breakpoint for tablets and up
@media (min-width: 768px) {
    // Base font increase
    html { font-size: 150%; }

    // Add flex and have logo and main nav appear side by side
    .mainNavContainer { display: flex; }
    .logoContainer { flex: 0 0 50%; }
    .mainNav { position: static; flex: 1 1 50%; }

    // Remove label and checkbox
    .mainNav label, .mainNav input[type="checkbox"] { display: none; }

    // Make nav items visible by default + flex them side by side
    .mainNav ul {
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .mainNav li { margin-left: 2rem; } // Spacing between nav items

    // Fixes issue where when checkbox is checked and you increase viewport width,
    // the styling transfers over
    .mainNav input[type="checkbox"]:checked ~ ul {
        background: none;
        box-shadow: none;
        transition: none;
    }

    .currentPage::after { width: 95%; } // Changes yellow underline width
}

@media (min-width: 1280px) {
    // Base font increase
    html { font-size: 175%; }
}

// Import page partials
@import "partials/_index.scss";
@import "partials/_blog.scss";
@import "partials/_contact.scss";