@import "partials/variables";
@import "partials/setup";

// ===== GENERAL STYLING =====

// @@@@@ Site-wide styles
html {
    background: $lighterBgColor;
    
    // Sets base font size to 20px on most browsers
    font-size: 125%;
}

// @@@@@ Wrapper
.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

// @@@@@ Font styles
h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
    text-transform: uppercase;
}
h1 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 1.2px;
    // Breaks title into two lines
    width: 9rem;
}
h2 {
    font-family: $pageTitleFont;
    font-size: 68px;
    line-height: 64px;
}
h3 {
    font-size: 33px;
    line-height: 58px;
    letter-spacing: 2.1px;
}

p {
    font-family: $contentFont;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2px;
}

// @@@@@ Button styles
.button {
    display: inline-block;
    font-family: $headingFont;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $lighterBgColor;
    background: $buttonColor;
    padding: 10px 20px;
}
.button:hover, .button:focus {
    box-shadow: 0 0 0 5px $accentColor;
}

// @@@@@ Header nav styles
.mainNav a {
    font-family: $contentFont;
    font-weight: 700;
    color: $fontColor;
    text-decoration: none;
}

// @@@@@ Footer styles
footer {
    padding: 0.3rem 0;
    background: $fontColor;
    color: $lighterBgColor;
}
footer p {
    text-align: center;
    line-height: 0;
}

@import "partials/_index.scss";
@import "partials/_blog.scss";
@import "partials/_contact.scss";