article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  background: #f5f5f5;
  font-size: 125%;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  font-size: 0.65rem;
  line-height: 0.7rem;
  letter-spacing: 0.05rem;
  width: 5rem;
}

h2 {
  padding-top: 90px;
  margin-top: 0;
  font-family: "Kumar One Outline", cursive;
  font-size: 1.7rem;
  line-height: 1.6rem;
}

h3 {
  font-size: 0.95rem;
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
}

h4 {
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 0.6rem;
  line-height: 0.95rem;
  letter-spacing: 0.05rem;
}

.button, input[type="submit"] {
  padding: 0.35rem 0.5rem 0.3rem;
  display: inline-block;
  font-family: "Kumar One", cursive;
  font-size: 0.6rem;
  line-height: 0.95rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  background: #065635;
  border: none;
}

.button:hover, .button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  -webkit-box-shadow: 0 0 0 0.12rem #f8fb05;
          box-shadow: 0 0 0 0.12rem #f8fb05;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

input, textarea {
  width: 100%;
}

input[type="text"], input[type="email"], textarea {
  margin-bottom: 2rem;
  padding-top: 0.2rem;
  background: none;
  border: none;
  border-bottom: 0.1rem solid #065635;
  color: #151514;
  font-family: "Lato", sans-serif;
  font-size: 0.6rem;
  line-height: 0.95rem;
  letter-spacing: 0.05rem;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
  opacity: 1;
  text-transform: uppercase;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 0.12rem #f8fb05;
          box-shadow: 0 0 0 0.12rem #f8fb05;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  border: none;
}

input[type="text"], input[type="email"] {
  padding: 0 1.2rem 0.7rem;
}

textarea {
  padding: 1.2rem;
  border: 0.1rem solid #065635;
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  min-height: 100vh;
  position: relative;
}

header a {
  color: #151514;
  text-decoration: none;
}

.mainNavContainer {
  padding-top: 1rem;
}

.mainNav {
  position: fixed;
  top: 0.9rem;
  right: 0.9rem;
  z-index: 99;
}

.mainNav li {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
  line-height: 0.85rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.mainNav li a:hover, .mainNav li a:focus {
  color: #f8fb05;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.currentPage {
  position: relative;
}

.currentPage::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0.05rem;
  width: 1rem;
  background: #f8fb05;
}

.mainNav ul {
  padding: 3rem 1rem 1rem;
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 98;
}

#menuButton, .labelText {
  position: absolute;
  opacity: 0;
}

.mainNav label {
  display: block;
  height: 2rem;
  width: 2rem;
  background: #065635;
  position: relative;
  float: right;
  z-index: 99;
  cursor: pointer;
}

.menuIcon, .menuIcon::before, .menuIcon::after {
  content: "";
  display: block;
  height: 0.1rem;
  background: #f5f5f5;
  position: absolute;
}

.menuIcon {
  width: 60%;
  top: 0.92rem;
  left: 0.4rem;
}

.menuIcon::before {
  width: 100%;
  bottom: 0.4rem;
}

.menuIcon::after {
  width: 100%;
  top: 0.4rem;
}

.mainNav input[type="checkbox"]:checked ~ ul {
  visibility: visible;
  opacity: 1;
  background: #f5f5f5;
  -webkit-box-shadow: -0.3rem 0.3rem 0 0.05rem #f8fb05;
          box-shadow: -0.3rem 0.3rem 0 0.05rem #f8fb05;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mainNav input[type="checkbox"]:checked + label > .menuIcon {
  background: none;
}

.mainNav input[type="checkbox"]:checked + label > .menuIcon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mainNav input[type="checkbox"]:checked + label > .menuIcon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer {
  padding: 0.25rem 0;
  background: #151514;
  color: #f5f5f5;
}

footer p {
  text-align: center;
  line-height: 0;
}

@media (min-width: 480px) {
  h2 {
    font-size: 2rem;
    line-height: 1.9rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 150%;
  }
  .mainNavContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logoContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .mainNav {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .mainNav label, .mainNav input[type="checkbox"] {
    display: none;
  }
  .mainNav ul {
    padding: 0;
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .mainNav li {
    margin-left: 2rem;
  }
  .mainNav input[type="checkbox"]:checked ~ ul {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
  }
  .currentPage::after {
    width: 95%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 175%;
  }
}

body.index section {
  padding: 2.5rem 0;
}

body.index section.featuredPost {
  padding-top: 6rem;
}

body.index section.gallery, body.index section.secondaryPosts {
  background: #e0fddf;
}

body.index header {
  background: #f5f5f5 url("../images/header-home.jpg");
  background-size: cover;
  background-position: center bottom;
}

body.index header h1 {
  display: none;
}

body.index header img {
  position: absolute;
  bottom: -15%;
  left: 0;
  max-width: 15rem;
}

body.index header h2 {
  max-width: 15rem;
}

body.index section.featuredPost .pseudoShadowContainer {
  position: relative;
  margin-top: 2rem;
  right: -52.5%;
  width: 60%;
}

body.index section.featuredPost .featuredPostImage {
  position: relative;
  z-index: 2;
}

body.index section.featuredPost .pseudoShadowContainer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.5vw;
  background: #f8fb05;
  left: -1.5vw;
}

body.index section.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

body.index section.gallery li {
  min-width: 15rem;
}

body.index section.gallery li:nth-child(2) {
  margin: 0 1rem;
}

body.index section.subNavSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.index section.subNavSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body.index section.subNavSection i {
  margin-right: 1rem;
  padding: 0.5rem;
  background: #f8fb05;
  border-radius: 180px;
  font-size: 0.8rem;
}

body.index section.subNavSection h3 {
  margin: 0.2rem 0 0;
}

body.index section.secondaryPosts .secondaryPost:nth-child(even) {
  text-align: right;
}

body.index section.secondaryPosts .pseudoShadowContainer {
  position: relative;
  margin: 2rem 0;
  width: 80%;
}

body.index section.secondaryPosts .secondaryPostImage {
  position: relative;
  z-index: 2;
}

body.index section.secondaryPosts .secondaryPost:nth-child(odd) .pseudoShadowContainer {
  right: 12.5%;
}

body.index section.secondaryPosts .secondaryPost:nth-child(even) .pseudoShadowContainer {
  right: -32.5%;
}

body.index section.secondaryPosts .secondaryPost:nth-child(odd) .pseudoShadowContainer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.5vw;
  background: #f8fb05;
  right: -1.5vw;
}

body.index section.secondaryPosts .secondaryPost:nth-child(even) .pseudoShadowContainer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.5vw;
  background: #f8fb05;
  left: -1.5vw;
}

body.index section.heroPost {
  padding: 0;
}

body.index section.heroPost .heroPostContent {
  padding: 2.5rem 0;
}

body.index section.heroPost .heroPostContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.index section.heroPost h3 {
  margin: 0;
}

body.index section.heroPost p {
  margin-top: 0;
}

@media (min-width: 768px) {
  body.index header {
    background-position: center center;
  }
  body.index header h2 {
    padding-top: 50px;
    margin-left: 5rem;
  }
  body.index header img {
    width: 40%;
    max-width: 30rem;
  }
  body.index section.featuredPost .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body.index section.featuredPost .wrapper .pseudoShadowContainer {
    right: -12.5%;
  }
  body.index section.subNavSection li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  body.index section.secondaryPosts {
    padding: 0;
  }
  body.index section.secondaryPosts .secondaryPost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.index section.secondaryPosts .secondaryPost:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body.index section.secondaryPosts .secondaryPostContent {
    width: 50%;
  }
  body.index section.secondaryPosts .pseudoShadowContainer {
    width: 60%;
  }
  body.index section.secondaryPosts .secondaryPost:nth-child(odd) .pseudoShadowContainer {
    right: 12.5%;
  }
  body.index section.secondaryPosts .secondaryPost:nth-child(even) .pseudoShadowContainer {
    right: -12.5%;
  }
  body.index section.heroPost .heroPostContent {
    padding: 5rem 0;
  }
}

@media (min-width: 940px) {
  body.index section.featuredPost .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.index section.featuredPost .wrapper .featuredPostContent {
    width: 60%;
  }
  body.index section.featuredPost .wrapper .pseudoShadowContainer {
    width: 30%;
    right: 0;
    margin-top: 0;
  }
  body.index section.secondaryPosts .pseudoShadowContainer {
    margin: 0;
  }
  body.index section.secondaryPosts .secondaryPost:first-child .pseudoShadowContainer {
    bottom: 1rem;
  }
  body.index section.secondaryPosts .secondaryPost:last-child .pseudoShadowContainer {
    top: 2rem;
  }
}

@media (min-width: 1280px) {
  body.index section.gallery ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body.index section.gallery li {
    min-width: auto;
  }
}

body.blog {
  background: #e0fddf;
}

body.blog header {
  background: #f5f5f5 url("../images/blog-image.jpg");
  background-size: cover;
  background-position: center bottom;
}

body.blog .blogPost {
  position: relative;
  top: -7rem;
}

body.blog section.blogPostContent {
  max-width: 30rem;
  background: #f5f5f5;
  padding-left: 10%;
  padding-right: 1rem;
  margin-right: calc(10% - 1rem);
  border-right: 0.2rem solid #f8fb05;
  border-bottom: 0.2rem solid #f8fb05;
}

body.blog section.blogPostContent .featuredImage {
  position: relative;
  left: calc(-12.5% - 0.2rem);
  bottom: 0.6rem;
  width: calc(112.5% + 0.8rem);
}

body.blog section.blogPostContent .featuredImage img {
  position: relative;
  z-index: 2;
}

body.blog section.blogPostContent .featuredImage::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.6rem;
  background: #f8fb05;
  right: -0.6rem;
}

body.blog section.blogPostContent .postTitle {
  margin-bottom: 0;
}

body.blog section.blogPostContent .postMetadata {
  margin-top: 0.5rem;
  font-style: italic;
}

body.blog section.blogPostContent .postAuthor {
  font-weight: 700;
}

body.blog section.blogPostContent p {
  margin: 1rem 0;
}

body.blog section.comments {
  padding-top: 1rem;
  margin-bottom: -4rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

body.blog section.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.blog section.comments .comment:not(:last-of-type) {
  margin-bottom: 2rem;
}

body.blog section.comments .comment:last-of-type {
  margin-bottom: 1rem;
}

body.blog section.comments .commentProfile {
  width: 4rem;
  margin-top: 0.2rem;
}

body.blog section.comments .commentMetadata {
  text-transform: uppercase;
  font-weight: 700;
}

body.blog aside {
  position: relative;
  background: #f8fb05;
  width: 60%;
  margin: 0 20% 3rem;
  border-bottom: 0.8rem solid #f8fb05;
}

body.blog aside::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.8rem;
  background: #f8fb05;
  left: -0.8rem;
}

body.blog .asideImage, body.blog .missionStatement, body.blog .recentPosts {
  position: relative;
  z-index: 2;
}

body.blog .missionStatement, body.blog .recentPosts {
  padding-right: 0.5rem;
}

body.blog h4 {
  margin: 0.7rem 0;
}

body.blog .recentPosts ul {
  list-style-type: disc;
  margin-left: 1.4rem;
}

body.blog .recentPosts p {
  margin: 0;
}

@media (min-width: 768px) {
  body.blog header {
    background-position: center center;
  }
  body.blog main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body.blog article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  body.blog aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  body.blog section.blogPostContent {
    max-width: 100%;
    margin-right: 0;
  }
  body.blog section.comments {
    padding-left: 10%;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  body.blog section.comments .comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body.blog section.comments .commentProfile {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3rem;
            flex: 0 0 3rem;
    margin-right: 1rem;
  }
  body.blog section.comments .commentContent {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  body.blog section.comments .commentMetadata {
    margin-top: 0;
  }
  body.blog input[type="text"], body.blog input[type="email"] {
    width: 46%;
  }
  body.blog input[type="text"] {
    float: left;
  }
  body.blog input[type="email"] {
    float: right;
  }
  body.blog aside {
    width: auto;
    margin: 0;
  }
  body.blog .missionStatement, body.blog .recentPosts {
    padding-right: 1rem;
  }
}

body.contact {
  background: #e0fddf;
}

body.contact header {
  background: #f5f5f5 url("../images/contact-image.jpg");
  background-size: cover;
  background-position: center bottom;
  background-position: right bottom;
}

body.contact main {
  position: relative;
  top: -7rem;
  margin-bottom: -4rem;
}

body.contact .contactForm, body.contact aside {
  padding: 3rem 0;
}

body.contact .contactForm {
  background: #f5f5f5;
}

body.contact aside {
  margin-bottom: -7rem;
}

body.contact aside .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.contact aside .socialMediaIcons li {
  margin-right: 1rem;
}

body.contact aside .socialMediaIcons i:hover, body.contact aside .socialMediaIcons i:focus,
body.contact aside .contactEmail:hover, body.contact aside .contactEmail:focus {
  color: #f8fb05;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body.contact aside .contactEmail {
  display: inline-block;
}

body.contact aside .contactAddress p {
  margin: 0;
}

@media (min-width: 768px) {
  body.contact main > .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.contact .contactForm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
  body.contact aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 940px) {
  body.contact .contactForm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  body.contact input[type="text"], body.contact input[type="email"] {
    width: 46%;
  }
  body.contact input[type="text"] {
    float: left;
  }
  body.contact input[type="email"] {
    float: right;
  }
}
